#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 3em; /* Réduire encore la taille des logos */
  padding: 0.5em; /* Réduire encore le padding des logos */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header, footer {
  width: 100%;
  margin: 0;
}

header {
  background-color: #333;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .left {
  position: absolute;
  left: 15px;
}

header nav .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .right {
  position: absolute;
  right: 15px;
  color: white;
  font-size: 1rem;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 5px;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

main {
  padding-bottom: 2rem;
}

.cocktail-image {
  width: 150px;
  height: auto;
  margin: 10px 0;
  border: 3px solid #333;
  border-radius: 8px;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-item {
  width: 45%;
  margin: 10px;
  box-sizing: border-box;
}

ul {
  list-style-position: inside; /* Aligner les points des listes à l'intérieur */
  padding-left: 0; /* Supprimer le padding gauche */
}

.cocktail-list-container {
  border: 3px solid #333;
  border-radius: 8px;
  margin: 50px;
  background-color: #9bc0cf;
}

